#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black; }
#nav_menu ul li {
    display: inline;
    padding: 0 1.5em; }
#nav_menu ul li a {
    font-weight: bold;
    color: blue; }
#nav_menu ul li a.current { text-decoration: none; }
#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }	
#nav_menu ul li a.current { color: yellow; }

article{    
    clear: left;
    width: 70%;
    float: left;
    column-count: 3;
    column-rule: 2px dotted blue;
    column-gap: 2em;
    margin-left: 2em;
    margin-right: auto;
}
article h1{
    float: left;
    padding: 1em;
}
article img{
    float: left;
    padding: 1em;
}
aside ol{
    list-style-type: upper-roman;
}
aside ul{
    list-style-type: square;
}

body{
    width: 95%;
    margin: 15px auto;
}

article p::first-letter{
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}
aside{
    position: static;
    width: 20%;
    float: right;
    background-color: lightblue;
    padding: 15px 0;
    border-color: blue;
}
footer{
    border-top: 2em;
    border-color: blue;
    bottom: 1em;
}